.social {
  @include clearfix;
    
  @include breakpoint($tablet) {
    position: absolute;
    right: 0;
    top: 1.5em;
    width: 8em;
  }

  &__icon-container {
    display: block;
    float: left;
    text-align: center;
    width: 33%;
  }

  &__icon {
    height: 2em;
    width: 2em;
  }
}