/* Colours */
$background-colour: #ffffff;
$font-colour: #000000;
$menu-background: #f2f2f2;
$menu-border: darken($menu-background, 80%);

/* breakpoints */
$tablet: 769px;

@mixin breakpoint($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}